.main-content {
  height: calc(100vh - 64px);
  overflow: auto;
}

section.grid {
  display: table;
}

section.grid>* {
  display: flex;
  flex-direction: row;
}

section.grid .col {
  display: flex;
  min-width: 50px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
}

section.calendar-view {
  background: #edf1f9;

  header .col {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    font-weight: 500;
  }

  header .col:last-child {
    border-right: 1px solid;
  }

  .row .col {
    border-left: 1px solid;
    border-bottom: 1px solid;
  }

  .row .col:last-child {
    border-right: 1px solid;
  }

  .col {
    text-align: center;
    color: #000;
    border-color: #e5e5e5 !important;
    cursor: pointer;
  }

  .col.yes {
    background-color: #30741a;
    color: #fff;
  }

  .col.no {
    background-color: #d71616;
    color: #fff;
  }

  .col.disable {
    cursor: default;
  }
}

.payment-grid {
  width: 50%;
}

.user-list {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .user-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    color: white;
    background: #4560a4;
    cursor: pointer;
  }

  .add-user-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.payement-form {
  display: flex;
  flex-direction: column;

  .form-field {
    margin: 10px 0 !important;
  }
}

.user-form {
  display: flex;
  flex-direction: column;

  .form-field {
    margin: 10px 0 !important;
  }
}

.dashboard-form {
  display: flex;
  flex-direction: column;

  .form-field {
    margin: 10px 0 !important;
  }
}

.payment-details-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  .form-field {
    margin: 10px 0 !important;
  }
}