section.grid {
  display: table;
  width: 100%;
}

section.grid>* {
  display: table-row;
}

section.grid .col {
  display: table-cell;
  text-align: center;
  background: #5f5d5d;
  color: white;
  cursor: pointer;
}

section.grid .col.yes {
  background-color: #30741a;
}

section.grid .col.no {
  background-color: #e83153;
}

section.grid .col.disable {
  cursor: default;
}