.main-content {
  height: calc(100vh - 64px);
  overflow: auto;
}

section.grid {
  display: table;
}

section.grid>* {
  display: flex;
  flex-direction: row;
}

section.grid .col {
  display: flex;
  min-width: 50px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
}

section.calendar-view {
  background: #edf1f9;

  .calendar-action-btn {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
  }

  header .col {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    font-weight: 500;
  }

  header .col:last-child {
    border-right: 1px solid;
  }

  .row .col {
    border-left: 1px solid;
    border-bottom: 1px solid;
  }

  .row .col:last-child {
    border-right: 1px solid;
  }

  .col {
    text-align: center;
    color: #000;
    border-color: #e5e5e5 !important;
    cursor: pointer;
  }

  .col.yes {
    background-color: #30741a;
    color: #fff;
  }

  .col.no {
    background-color: #d71616;
    color: #fff;
  }

  .col.disable {
    cursor: default;
  }
}

.payment-grid {
  width: 50%;
}

.user-list {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .user-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    color: white;
    background: #4560a4;
    cursor: pointer;

    p {
      text-transform: capitalize;
    }
  }

  .add-user-btn {
    position: absolute;
    bottom: 10px;
    right: 25px;
  }
}

.payement-form {
  display: flex;
  flex-direction: column;

  .form-field {
    margin: 10px 0 !important;
  }
}

.user-form {
  display: flex;
  flex-direction: column;

  .form-field {
    margin: 10px 0 !important;
  }
}

.attendance-form {
  display: flex;
  flex-direction: column;

  .form-field {
    margin: 10px 0 !important;
  }
}

.payment-details-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  .form-field {
    margin: 10px 0 !important;
  }
}

.login-form {
  display: flex;
  flex-direction: column;

  .form-field {
    margin: 10px 0 !important;
  }
}

.staff-dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-nav {
  a {
    width: 100%;
    text-decoration: none;
    color: #000;
  }

  ul:hover {
    background-color: #1e3263;

    a {
      color: #fff !important;
    }

    .MuiListItemIcon-root {
      color: #fff !important;
    }
  }
}

.payment-footer {
  padding-top: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;

  .footer-cell {
    font-size: 14px;
    font-weight: bold;

    span {
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.add-student-form,
.add-fees-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 0;
}

.google-btn {
  transition: background-color 0.3s, box-shadow 0.3s !important;
  padding: 12px 16px 12px 42px !important;
  border: none !important;
  border-radius: 3px !important;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25) !important;
  color: #757575 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white !important;
  background-repeat: no-repeat !important;
  background-position: 12px 11px !important;
}