section.grid {
  display: table;
  width: 100%;
}

section.grid>* {
  display: table-row;
}

section.grid .col {
  display: table-cell;
}

section.calendar-view {
  .col {
    text-align: center;
    background: #5f5d5d;
    color: white;
    cursor: pointer;
  }

  .col.yes {
    background-color: #30741a;
  }

  .col.no {
    background-color: #e83153;
  }

  .col.disable {
    cursor: default;
  }
}

.payment-grid {
  width: 50%;
}

.user-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: calc(100vh - 84px);
  overflow: auto;

  .user-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    color: white;
    background: #4560a4;
    cursor: pointer;
  }

  .add-user-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}